.content {
  top: -50px;
}

body {
  background:transparent url(asset_path('header-bg.jpg')) left top;
}

.homepage, .vr, .streaming {
  padding-top: 100px;
  height: 1000px;

}

#sky_tv {
  width: 1680px;
  height: 200vh;
  margin: -50px 0 0 0;
  border: 0;
}
