body {
  padding-top: 50px;
  font-size: 15px;
  font-family: 'Lato', sans-serif;
}

.solgan {
  text-align: center;

  a {
    display: inline-block;
    color: #fff;
    margin-top: 50px;
  }
}

h1 {
  @include make-md-column(12);
  color: #fff;
  font-size: 70px;
  font-family: 'Permanent Marker', cursive;
}

.index_bg {
  margin-top: 30px;
  width: 100%;
}

.vr_screenshot {
  @include make-md-column(4);

  img {
    width: 100%;
  }

  span, p {
    color: #fff;
  }

  span {
    margin: 5px 0;
    font-style: italic;
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: underline;
  }
}

.streaming_bg {
  width: 100%;
  position: absolute;
  top: -50px;
  z-index: -100;
}

.streaming_content {
  z-index: 100;

  &.content_1 {
    width: 270px;
    height: 70px;
    position: absolute;
    top: 350px;
    left: 540px;

    .button_1 {
      position: absolute;
      top: 10px;
      left: 240px;
      display: block;

      img {
        width: 20px;
      }
    }

    //&:hover .button_1 {
    //  display: block;
    //}

    .list_1 {
      display: none;
      background: rgba(#fff, 0.9);
    }

    &:hover .list_1 {
      display: block;
      position: absolute;
      left: 0;
      width: 250px;
      top: 30px;
      list-style-type: none;
    }
  }

  .plus_button {
    width: 20px;
  }


}

.title h1 {
  margin-bottom: 35px;

}

.vr_show {
  width: 1140px;
  height: 641px;
}

.myskylist {
  list-style-type: none;
  padding-left: 0;
}

.row-left {
  @include make-md-column(7);
}

.row-right {
  @include make-md-column(2);
  height: 100vh;
  background: rgba(#fff, 0.1);
  padding: 15px;
  position: absolute;
  top: 50px;
  right: 0;

  h2 {
    font-family: 'Permanent Marker', cursive;
    font-size: 25px;
    color: #fff;
    margin-top: 5px;
  }
}

.my_catalog {
  @include make-md-column(6);
  height: 200px;

  p {
    color: #fff;
    font-size: 18px;
  }

  .my_catalog_logo {
    display: block;
    float: left;
  }

  ul {
    display: block;
    float: left;
    list-style-type: none;
    padding: 0 0 0 20px;

    li {
      color: #fff;

      img {
        width: 20px;
      }
    }
  }
}

.my_catalog_logo {
  width: 100px;
}

.chat_item {
  display: block;
  border-bottom: 1px solid #757674;
  margin: 10px 0 0;
  min-height: 90px;

  .image_cropper {
    display: block;
    float: left;
    width: 80px;
    height: 80px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;

    &.trans {
      img {
        opacity: 0.8;
      }
    }

    img {
      display: inline;
      margin: 0 auto;
      height: 100%;
      width: auto;
    }
  }

  p {
    color: #fff;
  }

  .chat_content {
    display: block;
    float: left;

    padding: 10px 15px;

    a {
      display: block;
    }
  }
}
